*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;

}
@font-face {
    font-family: 'DBZ';
    src: url('../src/assets/Saiyan-Sans.ttf');
  }
.App {
  text-align: center;
  font-family: 'DBZ';
}
.App p{
  color:  #FFF;
  font-size: 6.5rem;
}

.App a {
  text-decoration: none;
  font-size: 3.5rem;
  color: rgb(201, 25, 25);
}
.App a:hover{
  filter:  brightness(0.8);
  
}


.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-image: url('./planet.jpg');
  background-size: cover;
  background-repeat: no-repeat;
  width: 100%;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  

  font-size: calc(10px + 2vmin);
  color: white;
}


.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}
